<%= button_to "Log Out", destroy_user_session_path, method: :delete %>

<h2>Welcome <%= current_user.name %></h2>

<h3>My Boards</h3>

<% @boards.each do |b| %>
  <ul>
    <li><%= link_to b.name, board_path(b) %>  |  <%= link_to 'Edit Board Title', edit_board_path(b) %>  |  <%= link_to "Delete Board", b, method: :delete  %></li>
  </ul>
<% end %>